:root{
    --dark-color1: #1a1a1a; 
    --light-color1: #fff;
}
*{
    margin: 0;
    cursor: default;
}
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    
}
a:hover{
    color: lightsalmon;
}
body{
    background: linear-gradient(90deg, #a08907, #ffff00, #a08907);
    width: 100vw;
    height: 100vh;
}
img{
    z-index: -1;
    width: 100vw;
    opacity: 100%;
}
.header{   
    margin-left: 10vw;
    position: absolute;
    background: var(--dark-color1);
    width: 80vw;
    height: 10vh;
    transform: perspective(12px) rotateX(-0.5deg);
    ul{
        font-size: 1.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        color: var(--light-color1);
    }
}
.hamburger-dropdown{
    width: 50px;
    height: 10px;
    background-color: var(--light-color1);
    margin: 6px 0;
    border-radius: 5px;
}
.icon{
    position: absolute;
    margin: 24.6vh 0 0 9.4vw;
}
.btn{
    *{
        cursor: pointer;
    }
    margin: 26vh 0 0 15vw;
    font-size: x-large;
    height: 5vh;
    cursor: pointer;
    position: absolute;
    border-radius: 4px;
    background: var(--dark-color1);
    color: #fff;
}
.input{
    font-size: x-large;
    position: absolute;
    width:35vw;
    margin: 26vh 0 0 27.4vw;
}
.searchBox{
    i{
        cursor: pointer;
    }
    cursor: pointer;
    color: var(--light-color1);
    margin: 26vh 0 0 62.9vw;
    height: 4.5vh;
    width: 4.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    position: absolute;
    background-color: #ffa500;
}
.e-title{
    color: var(--light-color1);
    position: absolute;
    margin: 13vh 0 0 46vw;
    font-size: x-large;
    letter-spacing: .2vw;
}
.langBtn{
    *{
        cursor: pointer;
    }
    color: var(--light-color1);
    display: flex;  
    flex-direction: row;
    width: 20vw;
    justify-content: space-around;
    position: absolute;
    margin: 26.5vh 0 0 66vw;
    button{
        background: var(--light-color1);
        border: none;
        border-radius: 3px;
        font-size: large;
    }
}

.footer{
    margin: 100vh 0 0 0;
    box-shadow: -2px -64px 81px 53px rgba(255,255,255,1);
    -webkit-box-shadow: -2px -64px 81px 53px rgba(255,255,255,1);
    -moz-box-shadow: -2px -64px 81px 53px rgba(255,255,255,1);
    width: 100vw;
    height: 50vh;
    position: absolute;
    background: var(--light-color1);
    text-align: center;
    letter-spacing: 3.5px;
    word-spacing: 4px;
    font-size: x-large;
}
.container{
    display: flex;
    justify-content: space-around;
    .card{
        box-shadow: -1px 0px 30px 7px rgba(0,0,0,0.65);
        -webkit-box-shadow: -1px 0px 30px 7px rgba(0,0,0,0.65);
        -moz-box-shadow: -1px 0px 30px 7px rgba(0,0,0,0.65);
        width: 25vw;
        height: 40vh;
        h3:before{
            color: #ffa500;
            content: "Price:  ";
        }
    }
}

.main-txt{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 45vh 0 0 0;
    width: 100vw;
    font-size: x-large;
    *{
        text-align: center;
        color: var(--light-color1);
    }
    h1{
        letter-spacing: 5px;
        word-spacing: 7.5px;
    }
    button{
        margin-top: 10vh;
        font-weight: bold;
        align-self: center;
        width: 15vw;
        height: 8vh;
        cursor: pointer;
        font-size: larger;
        background: #000;
        border-radius: 5px;
    }
}